.header
    position: fixed
    top: 0
    left: 0
    z-index: 10
    width: 100%
    transition: all 0.2s ease
    &.with-bg
        background-color: $white
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1)
    @media only screen and (min-width: 1101px)
        &.no-header
            .burger, .header-nav, .mobile-nav, .mobile-login, .header-login
                display: none
    .header-container
        display: flex
        align-items: center
        padding: 0 60px
        height: 100px
        margin: 0 auto
        .logo-link
            font-size: 0
            margin-top: 3px
    .header-nav
        text-align: center
        margin-left: auto
        .nav-ul
            display: flex
        .nav-li
            text-transform: uppercase
            margin-right: 50px
            cursor: pointer
            &:hover
                opacity: .8
            &:active
                color: $blue100
    .mobile-nav, .mobile-login
        display: none
    .mobile-nav
        text-transform: uppercase
    .header-login
        border-left: 1px solid $gray200
        display: flex
        align-items: center
        .login
            padding: 0 40px
            &:hover
                opacity: .8
    .burger
        border: none
        display: none
        cursor: pointer
    .burger div
        border: none
        height: 1px
        width: 18px
        margin: 5px
        background-color: $black100
    .closed
        display: none
    .mobile-menu
        display: none

@media screen and ( max-width: 1100px )
    .header
        .header-container
            height: 80px
            padding: 0 24px 0 16px
        .header-nav
            display: none
        .header-login
            display: none
        .mobile-login, .mobile-nav
            display: block
        .mobile-login
            margin-left: 24px
        .mobile-nav
            margin-left: auto
        .burger
            display: block
            margin-right: 16px

        // mobile menu
        .mobile-menu
            display: block
            transform: translateX(-100%)
            width: 100%
            background-image: linear-gradient(to bottom, #bc85ff, #a574fe, #8964fe, #6456fe, #1f49ff)
            position: fixed
            z-index: 100
            top: 0
            left: 0
            right: 0
            bottom: 0
            transition: all 0.2s ease
            display: block
            &.opened
                transform: translateX(0)
            .logo-link
                margin-top: 8px
            .close-btn
                width: 30px
                cursor: pointer
            .mobile-menu-wrapper
                text-align: center
                padding: 85px 0 140px 0
            .mobile-li-open:not(:last-child)
                margin-bottom: 32px
            .mobile-login-open
                display: flex
                flex-direction: column
                align-items: center
            .mobile-login-open
                margin-top: 130px
                .btn
                    width: 100%
                    max-width: 300px
            .mobile-header
                display: flex
                align-items: center
                height: 80px
                padding: 0 0 0 21px
            .mobile-button-close
                font-size: 22px
                margin-right: 21px
