@import "../partials/section-signup.sass"
    
.about-page
    .hero
        padding-top: 40px
        display: flex
        justify-content: flex-start
        align-items: center
        .content
            width: 50%
            max-width: 572px
            margin: -100px 92px 0 320px
        .hero-title
            margin-bottom: 30px
        .hero-descr:not(:last-child)
            margin-bottom: 20px
        .figure-wrapper
            width: 60%
            max-width: 504px
        .hero-figure
            position: relative
            padding-top: 119%
        .hero-img
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 
            object-fit: cover
            border-radius: 24px
            box-shadow: 6px 8px 23px -1px rgba(0,0,0,0.36)

    .values
        padding: 100px 0 62px 0
        margin-top: -88px
        .content-wrapper
            display: flex
            align-items: center
            gap: 70px
        .right-content
            width: 50%
            max-width: 572px
            margin-right: 20px
        .values-title
            margin-bottom: 21px
        .values-descr
            line-height: 1.2
        .values-descr:not(:last-child)
            margin-bottom: 20px
        .values-list
            padding: 0 0 0 22px
    
    .work
        position: relative
        padding: 200px 0 200px 0
        // overflow: hidden
        .square
            width: 552px
            height: 216px
            left: 82px
            bottom: 0
        .notification-ill
            position: absolute
            top: 30px
            right: 30px
        .work-bg
            position: absolute
            top: 170px
            right: -5px
            z-index: -1
            width: 534px
            height: 806px
        .container
            display: flex
            justify-content: center
            align-items: center
            gap: 50px
        .work-content
            width: 50%
            max-width: 392px
            margin-left: 100px
            flex: none
        .work-title
            margin-bottom: 20px
        .video-wrap
            width: 100%
            max-width: 986px
        .iframe-wrap
            position: relative
            padding-top: 59%
        .iframe
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            border-radius: 24px
            
    .loyal
        position: relative
        display: flex
        justify-content: flex-end
        align-items: center
        gap: 42px
        padding-bottom: 200px
        .section-title, .section-descr
            margin-bottom: 24px
        .left-content
            max-width: 425px
            margin-top: 100px
            margin-left: 50px
        .btn
            padding: 0 60px
            font-size: 16px
        .right-content
            width: 100%
            max-width: 1000px
            position: relative
            display: flex
            justify-content: flex-end
        .ill
            width: 1000px
            margin-top: 200px
        .bg
            position: absolute
            right: -5px
            top: -20px
            width: 800px
            z-index: -1
                

@media screen and (max-width: 1770px)
    .about-page 
        .hero
            .content
                margin-left: 134px
                margin-right: 128px
            .figure-wrapper
                margin-right: 80px
        
        .work
            .square
                bottom: -100px
            .work-bg
                width: 421px
                height: 760px

@media only screen and (max-width: 1440px)
    .about-page 
        .section-title
            font-size: 36px
        .section-subtitle
            font-size: 18px

        .hero
            .container
                width: 100%
                justify-content: space-between
                max-width: 1440px
                padding: 0 134px
            .hero-title
                margin-bottom: 16px
            .hero-descr:not(:last-child)
                margin-bottom: 15px
            .hero-descr
                line-height: 1.2
            
        .values
            padding: 80px 0 40px 0
            gap: 15px
            z-index: -1
            .content-wrapper
                gap: 15px
            .values-title
                margin-bottom: 24px
            .right-content
                margin-right: 20px
                width: 100%
                padding: 0 24px
        
        .work
            .sqaure
                display: none
            .work-content
                max-width: 300px
                margin-left: 70px
            .work-bg
                width: 320px
                height: 660px  
            .video-wrap
                max-width: 778px

        .loyal 
            .right-content
                max-width: 700px
            .left-content
                max-width: 500px
                margin-top: 180px
            .bg
                width: 580px
            .ill
                max-width: 700px

@media only screen and (max-width: 1200px)
    .about-page  
        .section-title
            font-size: 30px
        .section-subtitle
            font-size: 16px

        .hero
            .content
                margin: -100px 60px 0 60px
        
        .work
            padding: 60px 0 80px 0
            .work-bg
                width: 270px
                height: 610px  
            .container
                max-width: 700px
                flex-direction: column
                justify-content: flex-start
                gap: 40px
            .notification-ill
                display: none
            .work-content
                max-width: initial
                width: 100%
                margin-left: 0
            .work-bg
                display: none
            .iframe
                border-radius: 12px
        
        .values
            margin-top: -288px
            padding: 400px 0 80px 0
            .content-wrapper
                flex-direction: column-reverse
                align-items: flex-start
            .right-content
                margin: 0 auto 50px auto
            .left-content
                img
                    width: 100%

        .loyal
            flex-direction: column
            padding-bottom: 60px
            .right-content
                display: none
            .left-content
                text-align: center
                margin: 0
                padding: 0 24px

@media screen and (max-width: 1100px)
    .about-page
        .hero
            flex-direction: column
            padding: 0 24px
            .content
                width: 100%
                text-align: center
                margin-bottom: 0px
                margin: 40px auto
            .figure-wrapper
                margin: 0
                width: 100%
            .hero-title
                margin-bottom: 22px
            .hero-descr
                line-height: 19px

        


@media screen and (max-width: 550px)
    .about-page
        
        .values
            margin-top: -54vw
            padding: 74vw 0 80px 0
        
        .loyal
            .section-title
                padding: 0 36px


                    
        


        
        
