@import '../partials/section-signup.sass'

.home
    .title
        margin-bottom: 22px
    .hero
        display: flex
        justify-content: flex-end
        align-items: center
        padding-bottom: 132px
        .content
            width: 100%
            max-width: 662px
            margin-left: 324px
            @media only screen and (max-width: 1800px)
                margin-left: 40px
            @media only screen and (min-width: 2000px)
                margin-right: 10vw
        .subtitle
            max-width: 472px
        .input-btn-wrapper
            margin: 22px 0 28px 0
            max-width: 300px
        .logos-title
            margin-bottom: 18px
        .logos-wrap
            gap: 20px
            .logo
                height: 24px
        .ill-wrap
            width: 94%
            max-width: 992px
            position: relative
            overflow: hidden
        .bg
            width: 100%
            &.mobile
                display: none
        .ill
            position: absolute
            top: 50%
            transform: translateY(-50%)
            right: -70px
            width: 100%
            max-width: 1000px

    .used-by
        padding: 0 0 188px 0
        text-align: center
        .logos-container
            margin: 62px 0 0 0
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            gap: 50px
            .logo-figure
                width: 12%
                min-width: 200px
            .logo
                width: 100%
                max-height: 60px
                object-fit: contain

    .funnel
        display: flex
        align-items: center
        padding-bottom: 132px
        .content
            width: 100%
            max-width: 556px
            margin: -200px 30px 0 60px
            @media only screen and (min-width: 2000px)
                margin-left: 15vw
        .btn
            margin-top: 24px
        .ill-wrap
            width: 55%
            max-width: 1045px
            position: relative
            overflow: hidden
        .bg
            width: 100%
        .ill
            position: absolute
            top: 15%
            left: -80px
            width: 107%
            max-width: 1100px

    .loyal
        display: flex
        justify-content: flex-end
        align-items: center
        padding-bottom: 132px
        margin-top: -350px
        .content
            width: 100%
            max-width: 648px
            margin: 150px 10px 0 20px
            @media only screen and (min-width: 2000px)
                margin: 150px 10vw 0 20px
        .subtitle
            max-width: 560px
        .btn
            margin: 22px 0 28px 0
        .ill-wrap
            width: 94%
            max-width: 992px
            position: relative
            overflow: hidden
            display: flex
            justify-content: flex-end
        .bg
            width: 100%
            max-width: 800px
        .ill
            position: absolute
            top: 30%
            left: 0
            width: 100%
            max-width: 800px
            &.mobile
                display: none

    .degree
        display: flex
        align-items: center
        padding-bottom: 212px
        .content
            width: 100%
            max-width: 611px
            margin: -100px 0 0 80px
            @media only screen and (min-width: 2000px)
                margin-left: 15vw
        .btn
            margin-top: 24px
        .ill-wrap
            width: 55%
            max-width: 910px
            position: relative
            overflow: hidden
        .bg
            width: 100%
            max-width: 870px
        .ill
            position: absolute
            top: 3%
            left: -80px
            width: 107%
            max-width: 930px

@media only screen and (max-width: 1440px)
    .home
        .title
            font-size: 36px
        .subtitle
            font-size: 18px
        .hero
            .content
                max-width: 500px
                margin-left: 134px
            .ill-wrap
                max-width: 800px

        .loyal
            .content
                max-width: 500px
            .ill-wrap
                width: 50%
                max-width: initial
            .bg
                max-width: 582px
            .ill
                max-width: 580px
                left: initial
                right: 19%
                @media only screen and (max-width: 1430px) and (min-width: 1181px)
                    right: 0

        .degree
            .content
                max-width: 500px
                margin-left: 40px

@media only screen and (max-width: 1440px) and (min-width: 1181px)
    .home
        .hero
            .content
                margin-top: 100px

@media only screen and (max-width: 1180px)
    .home
        .title
            font-size: 30px
        .subtitle
            font-size: 16px
        .content
            padding: 0 24px
            text-align: center
        .hero
            flex-direction: column
            padding-bottom: 60px
            .content
                margin-left: 0
                margin-bottom: 33px
                display: flex
                flex-direction: column
                align-items: center
            .ill-wrap
                align-self: flex-end
            .ill
                width: 114%
            .bg
                &.desktop
                    display: none
                &.mobile
                    display: block

        .funnel
            flex-direction: column-reverse
            padding-bottom: 24px
            .content
                margin: 0 auto 30px auto
            .ill-wrap
                width: 90%
                align-self: flex-start
            .ill
                width: 113%

        .loyal
            flex-direction: column
            padding-bottom: 60px
            margin-top: 0
            .content
                margin: 0 auto
            .ill-wrap
                align-self: flex-end
                width: 100%
                max-width: initial
            .bg
                width: 90%
                max-width: 700px
            .ill
                right: 6%
                width: 80%
                top: 18%
                &.desktop
                    display: none
                &.mobile
                    display: block

        .degree
            flex-direction: column-reverse
            padding-bottom: 60px
            .ill-wrap
                align-self: flex-start
                width: 90%
            .content
                margin: 0 auto 24px auto
            .ill
                width: 100%
                top: 6%
                max-width: 850px

@media only screen and (max-width: 500px)
    .home
        .hero
            .ill
                width: 100%
                right: -26px
        .used-by
            padding: 0 0 134px 0
            .logos-container
                gap: 16px
                margin-top: 36px
                .logo-figure
                    width: 28%
                    .logo
                        width: 100%

        .funnel
            padding-bottom: 24px

@media only screen and (max-width: 400px)
    .home
        .funnel
            .title
                padding: 0 20px



@media only screen and (min-width: 1921px)
    .home
        .hero
            .ill-wrap
                width: 50%
                max-width: initial
            .ill
                max-width: initial
                right: -90px