@import '../partials/section-signup.sass'

.pricing
    padding: 37px 0 150px 0
    .container
        text-align: center
        margin: 0 auto
    .pricing-title
        margin-bottom: 11px
    .enter-term
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
        padding: 73px 0 50px 0
        gap: 30px
    .switcher
        cursor: pointer
        width: 96px
        height: 50px
        border-radius: 25px
        border: none
        padding: 0 6px
        background: linear-gradient(237.87deg, #BC85FF 0%, #1F49FF 100%)
        &.active .circle
            transform: translateX(47px)
    .circle
        width: 38px
        height: 38px
        border-radius: 50%
        background-color: $white
        transition: all 0.1s linear
    .monthly
        display: flex
        justify-content: flex-end
        align-items: center
        .term
            margin-right: 31px
    .yearly
        display: flex
        justify-content: flex-start
        align-items: center
        .term
            margin-right: 19px
    .sale
        padding: 15px

    .pricing-cards
        display: flex
        justify-content: center
        gap: 30px
        .pricing-card
            width: 100%
            max-width: 372px
            border-radius: 24px
            padding: 50px 20px
            &.enterprise
                .card-price
                    padding: 16px 0 0px 0
        .with-bg
            background: linear-gradient(237.87deg, #BC85FF 0%, #1F49FF 100%)
            .card-title, .card-price, .card-subtitle, .card-descr
                color: $white
            .card-free-btn
                // color: $blue400
                // background-color: $white
                cursor: pointer
        .card-free-btn
            width: 100%
            max-width: 252px
            line-height: 1.2
            margin-bottom: 33px
        .card-descr
            margin: 0 auto
            line-height: 1.6
            width: 200px
        .line-height-19
            line-height: 1.2
            margin-bottom: 30px
        .line-through
            text-decoration: line-through
        .card-price
            padding: 16px 0 32px 0
        .card-subtitle
            padding-bottom: 14px

@media only screen and (max-width: 1440px)
    .pricing
        padding: 58px 0 223px 0
        .pricing-title
            font-size: 36px
            margin-bottom: 16px
        .pricing-subtitle
            font-size: 18px
            font-weight: 300
        .enter-term
            padding: 83px 0 62px 0
            gap: 35px
        .switcher
            width: 56px
            height: 28px
            padding: 0 4px
            &.active .circle
                transform: translateX(26px)
        .circle
            width: 22px
            height: 22px
        .monthly
            .term
                margin-right: 35px

@media screen and (max-width: 1023px)
    .pricing
        padding: 47px 0 117px 0
    .container
        width: 100%
        .pricing-title
            font-size: 30px
            margin-bottom: 33px
        .pricing-subtitle
            font-size: 16px
        .enter-term
            align-items: baseline
            padding: 40px 0 30px 0
            gap: 24px
            .switcher
                width: 96px
                height: 50px
                padding: 0 8px
                &.active .circle
                    transform: translateX(43px)
            .circle
                width: 38px
                height: 38px
            .monthly
                .term
                    margin-right: 24px
            .yearly
                flex-direction: column
                .term
                    margin: 0 0 16px 0
        .pricing-cards
            flex-direction: column
            align-items: center
            .pricing-card
                width: 100%
                width: 327px
                padding: 45px 0 32px 0
            .card-free-btn
                max-width: 221px
