.product-page

    .products
        padding: 48px
        width: 100%
        .container
            margin: 0 auto
            text-align: center
            max-width: 828px
        .products-title
            margin-bottom: 27px

    .generate
        display: flex
        align-items: center
        gap: 90px
        .left-content
            position: relative
            width: 100%
            max-width: 900px
        .bg
            width: 100%
        .ill
            width: 95%
            max-width: 830px
            position: absolute
            left: -20px
            top: 150px
        .right-content
            max-width: 500px
            margin-right: 50px
            .section-descr:not(:last-child)
                margin-bottom: 30px

    .engage
        display: flex
        align-items: center
        justify-content: flex-end
        margin-top: -100px
        padding-bottom: 70px
        .right-content
            position: relative
            width: 100%
            max-width: 1000px
            display: flex
            justify-content: flex-end
        .section-title
            max-width: 400px
        .bg
            width: 95%
            margin-left: 30px
            max-width: 550px
        .ill
            max-width: 1000px
            position: absolute
            top: 0
            right: 0
        .left-content
            width: 100%
            max-width: 500px
            margin: 0 130px 0 20px

    .analytics
        padding: 78px 0 58px 0
        display: flex
        justify-content: flex-start
        align-items: center
        .analytics-img
            width: 100%
            max-width: 820px
        .content
            margin: 0 10px 0 180px
            max-width: 611px
        .section-descr
            max-width: 500px

    .product-sign-up
        padding: 100px 0 150px 0
        .sign-up-card
            text-align: center
            padding: 68px 24px
            background-image: linear-gradient(to left, #bc85ff, #a574fe, #8964fe, #6456fe, #1f49ff)
            margin: 0 auto
            max-width: 1172px
            border-radius: 24px
            box-shadow: 6px 8px 23px -1px rgba(0,0,0,0.36)
        .sign-up-title
            max-width: 792px
            margin: 0 auto
        .btn
            margin-top: 42px

@media screen and ( max-width: 1600px )
    .product-page
        .section-title
            font-size: 36px
        .section-descr
            font-size: 18px
        .products
            padding: 58px 0 34px 0
            .products-subtitle
                font-size: 18px

        .engage
            .bg
                max-width: 450px
            .ill
                width: 850px

        .analytics
            .content
                max-width: 500px

@media screen and (max-width: 1440px)
    .product-page
        .generate
            margin-bottom: 75px
            .left-content
                max-width: 650px
        .engage
            margin-top: 0
            .left-content
                max-width: 550px
                margin: 0 100px 0 130px
            .section-title
                max-width: initial
            .bg
                margin-left: 100px
                max-width: 400px
            .ill
                width: 750px
        .analytics
            .content
                margin: -40px 10px 0 70px
            .analytics-img
                max-width: 700px

@media screen and ( max-width: 1300px )
    .product-page
        .engage
            .bg
                max-width: 300px
            .ill
                width: 600px

@media screen and ( max-width: 1100px )
    .product-page
        .section-title
            font-size: 30px
        .generate
            flex-direction: column
            align-items: flex-start
            gap: 30px
            .left-content
                width: 100%
                padding: 0 17px 0 0
            .right-content
                margin: 0 auto
                width: 100%
                padding: 0 24px
            .ill
                position: absolute
                left: -20px
                top: 50px

        .engage
            flex-direction: column-reverse
            width: 100%
            padding-bottom: 56px
            .left-content
                padding: 0 27px
            .right-content
                margin-top: 70px
                max-width: 100%
            .bg
                width: 50%
                max-width: 300px
                margin-bottom: 32px
            .ill
                width: 100%
                max-width: 600px

        .products
            padding: 47px 0 44px 0
            .container
                width: 100%
            .products-title
                font-size: 30px
                margin-bottom: 33px
            .products-subtitle
                font-size: 16px

        .analytics
            padding: 25px 0 36px 0
            flex-direction: column
            align-items: flex-start
            .content
                margin: 0 auto
                padding: 0 24px
            .analytics-img
                margin-bottom: 22px
                width: 100%
                max-width: 600px
            .done-list-li
                font-size: 20px
            .section-descr
                font-size: 16px

        .product-sign-up
            padding: 36px 0 80px 0

@media screen and ( max-width: 500px )
    .product-page
        .product-sign-up
            .sign-up-card
                padding: 50px 10px
            .btn
                width: 96%
                padding: 0 14px
                margin-top: 24px
            .sign-up-title
                font-size: 24px
