.products
    padding: 48px
    width: 100%
    .container
        margin: 0 auto
        text-align: center
        max-width: 828px
    .products-title
        margin-bottom: 27px
.generate
    display: flex
    align-items: center
    gap: 90px
    .left-content
        position: relative
        left: 0
        width: 48%
    .create-form-bg
        width: 100%
        max-width: 900px
    .create-form
        position: absolute
        left: -20px
        top: 150px
        max-width: 800px
    .right-content
        max-width: 500px
        .generate-title
            margin-bottom: 31px
        .right-content-descr
            margin-top: 40px
.analytics
    padding: 78px 0 58px 0
    display: flex
    justify-content: flex-start
    align-items: center
    .success
        margin-left: 220px
        max-width: 611px
    .success-reports
        padding: 31px 0 36px 0
        .success-report:not(:last-child)
            margin-bottom: 32px
.success-report
    position: relative
    padding-left: 28px
    &:before
        content: url('../../images/icon-done.svg')
        display: inline-block
        position: absolute
        top: 2px
        left: 0
.product-sign-up
    padding: 100px 0 150px 0
    .sign-up-card
        text-align: center
        padding: 68px 24px
        background-image: linear-gradient(to left, #bc85ff, #a574fe, #8964fe, #6456fe, #1f49ff)
        margin: 0 auto
        max-width: 1172px
        border-radius: 24px
        box-shadow: 6px 8px 23px -1px rgba(0,0,0,0.36)
    .sign-up-title
        max-width: 792px
        margin: 0 auto
    .product-start-free
        margin-top: 42px
@media screen and ( max-width: 1600px )
    .products
        padding: 58px 0 34px 0
        .products-title
            font-size: 36px
        .products-subtitle
            font-size: 18px
    .analytics
        padding: 80px 0 60px 0
        .success
            max-width: 500px
            margin-left: 100px
            .success-title
                font-size: 36px
            .success-descr
                font-size: 18px
        .analytics-review
            max-width: 612px
@media screen and ( max-width: 1190px )
    .products
        padding: 47px 0 44px 0
        .products-title
            font-size: 30px
            margin-bottom: 33px
        .products-subtitle
            font-size: 16px
    .analytics
        padding: 25px 0 21px 0
        flex-direction: column
        align-items: flex-start
        .analytics-review
            margin-bottom: 22px
            width: 100%
        .success
            margin: 0 auto
            padding: 0 24px
        .success-title
            font-size: 30px
        .success-report
            font-size: 20px
        .success-descr
            font-size: 16px
    .product-sign-up
        padding: 36px 0 80px 0
        .sign-up-card
            padding: 45px 24px
        .sign-up-title
            font-size: 24px
        .product-start-free
            padding: 0 30px
